/*Formulaire*/

#Formulaire_Maps {
    grid-row: 2;
    grid-column: 8/13;
    margin : 5%;
    text-align: center;
}


iframe{
    width:30vw;
    height:50vh;
    border:1px solid #0B120B;
    box-shadow:0px 0px 10px #0B120B;
    border-radius: 15px;
}
iframe:hover{
    width:30vw;
    height:50vh;
    border:1px solid #0B120B;
    box-shadow:0px 0px 50px #FCF342;
    border-radius: 15px;
}

embed{
    width:30vw;
    height:50vh;
    border:1px solid #0B120B;
    box-shadow:0px 0px 10px #0B120B;
    border-radius: 15px;
}


/*Tableau*/
.Main_Tableau{
    border-radius: 15px;
    border: 1px solid #0B120B;
    grid-row: 2;
    grid-column:2/8;
    background-color: #FCF342;
    height: 50%;
}
.Main_Tableau td{
    border-radius: 15px;
    border: 1px solid #0B120B;
    background-color: #97D1AB;
    text-align: center;
}
.Main_Tableau th{
    border-radius: 15px;
    border: 1px solid #0B120B;
    background-color: #97D1AB;
}
